<nav class="navbar fixed-top navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <img class="navbar-logo" src="/images/logo.png" />
        <span class="navbar-brand-text">workshop</span>
    </a>
    <ul class="navbar-nav mr-auto flex-row">
        <li class="nav-item ml-5 <%= active == "catalog" ? "active" : "" %>" >
            <a class="nav-link" href="/catalog">Workshops</a>
        </li>
        <li class="nav-item ml-5 <%= active == "track" ? "active" : "" %>" >
            <a class="nav-link" href="/track">Tracks</a>
        </li>
        <% navItems.forEach(navItem => { %>
            <li class="nav-item ml-5" >
                <a class="nav-link" <%- navItem.target ? `target="${navItem.target}"` : '' %>
                    href="<%- navItem.href %>"><%- navItem.label %></a>
            </li>
        <% }) %>
    </ul>
    <div class="nav-item dropdown navbar-login">
        <button class="nav-link dropdown-toggle btn btn-dark"
            id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" 
            aria-expanded="false">
            <i class="fa fa-user"></i><span id="login-name"><%= name %></span>
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <!-- <a class="dropdown-item" href="#">My Workshops</a> -->
            <!-- <a class="dropdown-item" href="/catalog/add">Add Workshop</a> -->
            <!-- <div class="dropdown-divider"></div> -->
            <a class="dropdown-item" href="<%= authLogout %>">Logout</a>
        </div>
    </div>
</nav>